/* Colors 
 Google super light blue-green: CEF6F5
 Reply dark blue: 0B3861
 Pine green: 446348
 Khaki: D1C786
 Floral light blue: 009dff
 Light grey (goes with floral light blue): CCCCCC
 */

/* Core */

* {margin: 0; padding: 0;}

body {
	background-color:white;
	color:#444;/*#0B3861;/**/
	font-family:"Helvetica Neue", Arial, sans-serif; 
	font-size:14px;
	position:relative;
}

div {
	display:block;
	overflow:hidden;
}

p {
	margin:0;
	padding:5px 0px;
}

p.small { font-size:0.5em; }
p.center { text-align:center; }
p.right { text-align:right; }

h1 {
	padding:20px 50px;
	font-size:2.1em;
	font-family:Times, serif;
	font-style:italic;	
}

h2 {
	display:inline-block;
	font-size:1.5em;
	margin-right:10px;
	padding-bottom:5px;
	overflow:visible;
}

ol, ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0 15px;
	overflow:hidden;
}

li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

a {
	text-decoration:none;
	color:#006dff;
}

a:hover { color:#444 }

.bottomBorder {
	border-bottom:1px solid #446348;
}

.box_textshadow {
	text-shadow: 1px 1px 1px #ccc; 
}


/* Page Layout */

#header {
	margin-top:10px;
}

#banner {
	margin:0 0 5px 0;
	background:#009dff;
	color:white;
}
	#banner a {	color:white; }
	#banner a:hover { color:white; }

#footer {
	background-color:#009dff;
	border:1px solid #009dff;
	margin-top:5px;
	margin-bottom:5px;
	padding:10px;
	
	letter-spacing:-1px;
	color:white;
}

#footer ul {
	float:left;
	clear:none;
	margin:0 auto;
	padding:0;
}

.pageWidth {
	width:550px;
	margin:0 auto;
}


/* Menu */

#menu {
	background:#009dff;/*F3F781;*/
	color:white;
	
	margin:0 0 5px 0;
	border:2px solid #009dff;
	padding:8px 0 10px 0;/**/
	
	/*overflow-x:none;
	overflow-y:auto;*/
	overflow:hidden !important;/**/
	width:700px;
	
	text-transform:lowercase;
}

#menu a {
	padding:8px 20px 3px;/**/
	text-decoration:none;
	color:white;
}

	#menu a.active {
		border-bottom:5px solid white;
		color:white;
	}
		#menu a.active:hover { border-bottom:5px solid white; }

	#menu a:hover {
		border-bottom:1px solid white;
		color:white;
	}


/* Menu - Secondary */

#menu.secondary {
	background:#009dff;
	
	border:2px solid #009dff;
	padding: 5px 0 7px 0;
	
	font-size:0.95em;
}

#menu.secondary a {
	padding:4px 20px 2px;
}

	#menu.secondary a.active {
		border-bottom:3px solid white;
		color:white;
	}
		#menu.secondary a.active:hover { border-bottom:3px solid white; }

	#menu.secondary a:hover {
		border-bottom:1px solid white;
		color:white;
	}



/* Main */

#main {
	/*background-color:white;/*#d1c786;/*F3F781;*/
	/*border-top:1px solid #446348;*/
	text-align:left;
	margin:0 auto;
	overflow:visible;`
}

#left {
	float:left;
	clear:none;
	width:40%;
	margin:0px;
	padding:15px;
}

#right {
	float:right;
	clear:none;
	width:40%;
	text-align:center;
	margin:0px;
	padding:15px;
}

div.total {
	float:left;
	clear:none;
	width:100%;
	margin:0;
	padding:15px 0;
}

.imageGrid li {	
	float:left;
	clear:none;
	margin:0 auto;
	padding:0px;
}