/* Colors 
 Google super light blue-green: CEF6F5
 Reply dark blue: 0B3861
 Pine green: 446348
 Khaki: D1C786
 
 Floral light blue: 009dff
 Light grey (goes with floral light blue): CCCCCC
 Middle grey (footer colors): 888888
 Darker grey (content text): 444444
 */

/* Core */

* {margin: 0; padding: 0;}

body {
	background-color:white;
	color:#444;/*#0B3861;/**/
	font-family:"Helvetica Neue", Arial, sans-serif; 
	font-size:14px;
	position:relative;
}

div {
	display:block;
	overflow:hidden;
}

p {
	margin:0;
	padding:5px 0px;
}

p.small { font-size:0.5em; }
p.center { text-align:center; }
p.right { text-align:right; }

h1 {
	padding:20px 50px;
	font-size:2.1em;
	font-family:Times, serif;
	font-style:italic;	
}

h2 {
	display:inline-block;
	font-size:1.5em;
	padding-bottom:5px;
	overflow:visible;
}

ol, ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0 15px;
	overflow:hidden;
}

li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

a {
	text-decoration:none;
	color:#006dff;
}

a:hover { color:#444 }

.box_textshadow {
	text-shadow: 1px 1px 1px #ccc; 
}


/* Page Layout */

#header {
}

#banner {
	margin:0 0 5px 0;
	background:#009dff;
	color:white;
}
	#banner a {	color:white; }
	#banner a:hover { color:white; }

#footer {
	/*background-color:#009dff;/**/
	border-top:1px solid #888;
	padding:5px 20px;
}
	#footer, #footer a {
		letter-spacing:-1px;
		color:#888;
	}
	#footer a:hover { color:#444; }

	#footer ul {
		float:left;
		clear:none;
		margin:0 auto;
		padding:0;
	}

.pageWidth {
	width:550px;
	margin:10px auto;
}


/* Nav */

#nav {
	background:#009dff;/*F3F781;*/
	color:white;
	
	margin:0 0 5px 0;
	border:2px solid #009dff;
	padding:8px 0 10px 0;/**/
	
	/*overflow-x:none;
	overflow-y:auto;*/
	overflow:hidden !important;/**/
	width:700px;
	
	text-transform:lowercase;
}

#nav a {
	padding:8px 20px 3px;/**/
	text-decoration:none;
	color:white;
}

	#nav a.active {
		border-bottom:5px solid white;
		color:white;
	}
		#nav a.active:hover { border-bottom:5px solid white; }

	#nav a:hover {
		border-bottom:1px solid white;
		color:white;
	}


/* nav - Secondary */

#nav.secondary {
	background:#009dff;
	
	margin-bottom:5px;
	border:2px solid #009dff;
	padding: 5px 0 7px 0;
	
	font-size:0.95em;
}

#nav.secondary a {
	padding:4px 20px 2px;
}

	#nav.secondary a.active {
		border-bottom:3px solid white;
		color:white;
	}
		#nav.secondary a.active:hover { border-bottom:3px solid white; }

	#nav.secondary a:hover {
		border-bottom:1px solid white;
		color:white;
	}



/* Content */

#content {
	/*background-color:white;/*#d1c786;/*F3F781;*/
	/*border-top:1px solid #446348;*/
	text-align:left;
	margin:10px auto 15px;
}

.left {
	float:left;
	clear:none;
	/*width:40%;/**/
}

.right {
	float:right;
	clear:none;
	/*width:40%;/**/
}

img {
	border:1px solid #444;
	border-radius:7px;
	padding:0px;
}

.imageGrid { margin:2px auto; }
.imageGrid li {	
	float:left;
	clear:none;
	padding:5px;
}