/* Colors 
	Google light blue: CEF6F5
	Reply dark blue: 0B3861
	Pine green: 446348
	Khaki: D1C786
*/

/* Core */

* {margin: 0; padding: 0;}

body {
	background-color:white;
	color:#0B3861;
	font-family:"Helvetica Neue", Arial, sans-serif; 
	font-size:14px;
	position:relative;
}

div {
	display:block;
	overflow:hidden;
}

p {
	margin:0;
	padding:5px 0px;
}

p.small { font-size:0.5em; }
p.center { text-align:center; }
p.right { text-align:right; }

h1 {
	padding:15px 0;
	font-size:2.1em;
	font-family:"Georgia", Times, serif;
	font-style: italic;
}

h2 {
	display:inline-block;
	font-size:1.5em;
	margin-right:10px;
	padding-bottom:5px;
}

ol, ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0 15px;
	overflow:hidden;
}

li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

a {
	/*text-decoration:none;*/
	color:blue;
}

a:hover { color:#0B3861 }

.bottomBorder {
	border-bottom:1px solid #446348;
}


/* Page Layout */


#header {
	/*background-color:#ACFA58;*/
	background:#446348 url('bg_green.jpg') repeat;
	border-bottom:10px solid #d1c786;
    border-radius:25px;
	overflow:visible;
	color:white;
}

#footer {
	background-color:#d1c786;
	border:1px solid #446348;
	margin:5px 0;
	padding:10px;
	color:#446348;
}

#footer ul {
	float:left;
	clear:none;
	margin:0 auto;
	padding:0;
}

.pageWidth {
	width:700px;
	margin:0 auto;
	overflow:visible;
}

/* Menu */

#menu {
	background-color:#d1c786;/*F3F781;*/
    border-bottom-left-radius:20px 10px;
    border-bottom-right-radius:20px 10px;
    border:1px solid #000000;
	margin:-10px auto 0 auto;
	position:relative;
	bottom:-10px;
}

#menu ul {
	/*background:#cccccc;*/
}

#menu a {
	float:left;
	clear:none;
	padding:8px 20px 3px;
	text-decoration:none;
}

#menu a.active {
	border-bottom:5px solid #446348;
	color:#0B3861;
}

#menu a:hover {
	color:#0B3861;
}


/* Menu - Secondary */

#menu.secondary {
	background:#CEF6F5;
	border:3px solid #d1c786;
	border-top:none;
	overflow:visible;
}

#menu.secondary ul {
	width:100%;
	/*width:420px;
	margin:0 auto;
	background:#cccccc;/**/
}

#menu.secondary li {
	border-left:1px solid #CEF6F5;
	border-right:1px solid #CEF6F5;
	background-color:0%;
	float:left;
	clear:none;
	margin:0 auto;
	overflow:visible;
}

#menu.secondary li.active,
#menu.secondary li:hover {
	border-left:1px solid #d1c786;
	border-right:1px solid #d1c786;
	background-color:#FFFFFF;
}

#menu.secondary a {
	text-decoration: none;
}

/* Main */

#main {
	background-color:white;/*#d1c786;/*F3F781;*/
	/*border-top:1px solid #446348;*/
	text-align:left;
	margin:0 auto;
}

#left {
	float:left;
	clear:none;
	width:40%;
	margin:0px;
	padding:15px;
	overflow:visible;
}

#right {
	float:right;
	clear:none;
	width:40%;
	text-align:center;
	margin:0px;
	padding:15px;
	overflow:visible;
}

div.total {
	float:left;
	clear:none;
	width:auto;
	margin:0;
	padding:15px;
}

ul.imageGrid li {	
	float:left;
	clear:none;
	margin:0 auto;
	padding:20px;
}